<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ギター型をチェック</title>
    <link rel="stylesheet" href="./static/stylesheet.css">
</head>
<body>
    <header>
        <img class="header_img" src="https://aidemyexstorage.blob.core.windows.net/aidemycontents/1621500180546399.png" alt="Aidemy">
        <a class="header-logo" href="#">ギター型をチェック</a>
    </header>

    <div class="main">
        <h2> ギター写真を送信してください</h2>
        <p>画像を送信してください</p>
        <form method="POST" enctype="multipart/form-data">
            <input class="file_choose" type="file" name="file">
            <input class="btn" value="submit!" type="submit">
        </form>

        <img class="image" src="{{ images }}">
        <div class="answer">{{answer}}</div>
    </div>

</body>
</html>